body {
    background: #F3F5FC;
}
img[src="logo.svg"] {
    position: absolute;
    width: 31.09px;
    top: 3.90625vh;
    left: 5.833333333333333vw;
    transition: transform 1s;
    cursor: pointer;
}
img[src="logo.svg"]:hover {
    transform: scale(1.5);
}
#txt {
    position: absolute;
    width: 47.22222222222222vw;
    height: calc(83.59375vh - 155px);
    top: 16.40625vh;
    left: 16.66666666666667vw;
    border: none;
    background: none;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
#txt:focus {
    outline: none;
}
#txt::placeholder {
    color: #0A3871;
}
.info {
    position: absolute;
    bottom: 121px;
    left: 16.66666666666667vw;
    cursor: context-menu;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
img[src="info.svg"] {
    width: 16px;
    margin-bottom: -3px;
    margin-right: 4px;
    opacity: 1;
}
#none h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}
#none p {
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
#none img {
    width: 48.61111111111111vh;
}
#out_txt {
    position: absolute;
    width: 23.33333333333333vw;
    bottom: 130px;
    top: 60px;
    right: 56px;
    z-index: 1;
    overflow-x: auto;
    word-wrap: break-word;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}
input[type="button"] {
    position: absolute;
    text-align: center;
    width: 22.77777777777778vw;
    height: 67px;
    bottom: 49px;
    border-radius: 20px;
    padding: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}
input[type="button"]:hover {
    font-weight: bold;
}
#enc {
    left: 16.66666666666667vw;
    background: #0A3871;
    color: #FFFFFF;
    border: none;
}
#dec {
    left: 41.11111111111111vw;
    box-sizing: border-box;
    background: #D8DFE8;
    color: #0A3871;
}
#copy {
    right: 63px;
    color: #0A3871;
    z-index: 1;
}
#desk_out {
    position: absolute;
    display: flex;
    width: 27.77777777777778vw;
    min-width: 290px;
    min-height: 285px;
    top: 30px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    align-items: center;
}
#found {
    display: none;
}
#none h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
}
#none p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}
.credits {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
a {
    text-decoration: none;
} a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) and (orientation: portrait) {
    img[src="logo.svg"] {
        top: 24px;
        left: 16px;
    }
    #txt {
        width: 94vw;
        height: calc(40vh - 100px - 35px);
        top: 100px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .info {
        top: calc(40vh - 25px);
        left: 16px;
    }
    #enc {
        top: 40vh;
        width: 94vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #dec {
        top: calc(40vh + 80px);
        width: 94vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #copy {
        width: 85vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #out_txt {
        top: calc(40vh + 180px);
        width: 85vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #desk_out {
        top: calc(40vh + 160px);
        width: 94vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #desk_out img {
        display: none;
    }
    .credits {
        bottom: -5px;
    }
}