body {
    background: #F3F5FC;
}
img[src="logo.svg"] {
    position: absolute;
    left: 5%;
    top: 3%;
    padding: 0;
    width: 60px;
    transition-duration: 1s;
} img[src="logo.svg"]:hover {
    transform: scale(1.5);
}
textarea {
    position: absolute;
    border: none;
    background: none;
    padding-top: 50px;
    width: 47.22222222222222vw;
    height: 365px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    resize: none;
    
} textarea:focus {
    outline: none;
}
.info {
    position: absolute;
    padding-left: 20px;
    top: calc(100vh - 163px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#desk_in img {
    top: calc(100vh - 162px);
    width: 16px;
    position: absolute;
    padding-right: 10px;
    opacity: 0.8;
}

#enc, #dec, #copy {
    display: block;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    margin: 7px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    flex: none;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    transition-duration: 1s;
}
#enc {
    background: #0A3871;
    color: #FFFFFF;
    order: 0;
}
#dec {
    box-sizing: border-box;
    background: #D8DFE8;
    color: #0A3871;
    order: 1;
}
#desk_in {
    margin: 80px 40px 0 150px; 

}
#desk_out {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.77777777777778vw;
    height: 92.1875vh;
    right: 2.777777777777778vw;
    top: 3.90625vh;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
#desk_out h2 {
    width: 336px;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#desk_out p {
    width: 336px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
#out_txt {
    width: 336px;
    height: calc(100vh - 200.1px);
    top: 40px;
    margin: auto;
    overflow-x: auto;
    word-wrap: break-word;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}
#copy {
    background: #FFFFFF;
}
#enc:hover, #dec:hover, #copy:hover {
    font-size: 20px;
}
.desk {
    display: inline-flex;
}
.bt {
    display: inline-flex;
    position: absolute;
    text-align: center;
    bottom: 60px;
}
@media (orientation: portrait) {
    textarea, #desk_in, #desk_out, .desk, .bt, .info, #desk_in img {
        position: relative;
    }
}
#found {
    display: none;
}
.credits {
    position: static;
    margin-top: calc(100vh - 110px);
    text-align: center;
}
a {
    text-decoration: none;
} a:hover {
    text-decoration: underline;
}

