body {
    text-align: center;
    background: #a9d1d8;
}
textarea {
    width: 385px;
    height: 385px;
    border-radius: 15px;
    border-width: 0;
    padding: 10px;
    resize: none;
}

input[type="button"] {
    width: 100px;
    margin-bottom: 7px;
    border-radius: 5px;
    padding: 7px;
    border-width: 1px;
    cursor: pointer;
}
input[type="button"]:hover {
    font-weight: bold;
    background: #f7f2c6;
}
h3 {
    margin: 0;
    float: center;
}
button {
    position: absolute;
    margin-left: 120px;
}
#log {
    overflow-x: auto;
    width: 385px;
    height: 385px;
    background: #b2d5db;
    border: 1px solid #0f024b;
    border-radius: 15px;
    padding: 10px;
    word-wrap: break-word;
}
.desk {
    column-count: 2;
    width: 820px;
    margin: auto;
}
@media (orientation: portrait) {
    textarea {
        width: 385px;
        height: 285px;
    }
    #log {
        width: 385px;
        height: 285px;

    }
    .desk {
        column-count: 1;
        width: 400px;
        margin: auto;
    }
}
