body {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #F3F5FC;
}
header img {
    position: absolute;
    top: 15px;
    left: 25px;
    cursor: pointer;
    transition: transform 1s;
}
header img:hover {
    transform: scale(1.3);
}
header div {
    position: absolute;
    display: none;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("screen.svg") no-repeat;
    background-size: 60px 30px;
    
}
main {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 98%;
    min-width: 690px;
    min-height: 360px;
}
section {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin: 10px;
    align-items: center;
    padding: 30px;
}
.desk-in {
    width: 59%;
}
.btn-paste {
    width: 96%;
    text-align: right;
}
.txt-in, .txt-in::placeholder, .txt-in:focus {
    width: 96%;
    height: 70%;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: none;
    border: none;
    outline: none;
    resize: none;
}
.info {
    display: flex;
    width: 97%;
}
.info h6 {
    margin: 10px;
    font-size: 12px;
    line-height: 150%;
    color: #495058;
    opacity: 0.8;
    cursor: context-menu;
}
.btns-in {
    display: flex;
    width: 100%;
}
button {
    width: 100%;
    height: 67px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 24px;
    padding: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #0A3871;
    cursor: pointer;
}
button:hover {
    font-weight: bold;
}
.btn-enc {
    background: #0A3871;
    color: #FFFFFF;
}
.btn-enc:hover {
    background: #072B61;
}
.btn-dec {
    background: #D8DFE8;
    color: #0A3871;
}
.btn-dec:hover {
    background: #EFF1FA;
}
.btn-copy {
    display: none;
    margin-top: 10px;
    color: #0A3871;
    background: #FFFFFF;
}
.btn-copy:hover {
    background: #EFF1FA;
}
.desk-out {
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.txt-out {
    display: none;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    overflow-x: auto;
    word-wrap: break-word;
}
.txt-no {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.txt-no img {
    width: 100%;
}
.txt-no h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
}
.txt-no h5 {
    width: 97%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    margin: 0;
}
footer {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
}
footer h6 {
    margin: 0%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 800px) and (orientation: portrait) {
    body {
        margin: 0%;
    }
    header div {
        display: block;
    }
    :fullscreen header div {
        background-position: -30px 0px;
    }
    main {
        flex-direction: column;
        min-width: 0%;
        min-height: 0%;
        margin: 0%;
        align-items: center;
    }
    section {
        padding: 10px;
        margin: 5px;
    }
    .desk-in {
        width: 100%;
        height: 100%;

    }
    .txt-in, .txt-in::placeholder, .txt-in:focus {
        height: 65%;
    }
    .desk-out {
        width: 90%;
        height: 63%;
        padding: 20px;
    }
    .txt-no {
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("none.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .txt-no img {
        display: none;
    }
}
@media screen and (max-height: 440px) {
    .txt-no {
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("none.svg");
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .txt-no img {
        display: none;
    }
}