body {
    background: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
}
img[src="classes/logo.svg"] {
    position: absolute;
    width: 31.09px;
    top: 3.90625vh;
    left: 5.833333333333333vw;
    transition: transform 1s;
    cursor: pointer;
}
img[src="classes/logo.svg"]:hover {
    transform: scale(1.5);
}
#txt {
    position: absolute;
    width: calc(100vw - 16vw - 36.5vw);
    height: calc(100vh - 16vh - 150px);
    top: calc(100vh - 84vh);
    left: 16vw;
    border: '';
    background: none;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
#txt:focus {
    outline: none;
}
#txt::placeholder {
    color: #0A3871;
}
.info {
    position: absolute;
    top: calc(100vh - 140px);
    left: 16vw;
    cursor: context-menu;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
img[src="classes/info.svg"] {
    width: 16px;
    margin-bottom: -3px;
    margin-right: 4px;
    opacity: 1;
}
#none h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}
#none p {
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
#none img {
    width: 23vw;
}
#out_txt {
    position: absolute;
    width: 23.33333333333333vw;
    bottom: 130px;
    top: 60px;
    right: calc(2vw + 20px);
    z-index: 1;
    overflow-x: auto;
    word-wrap: break-word;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}
input[type="button"] {
    position: absolute;
    text-align: center;
    width: 22.77777777777778vw;
    height: 67px;
    top: calc(100vh - 110px);
    border-radius: 20px;
    padding: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}
input[type="button"]:hover {
    font-weight: bold;
}
#enc {
    left: 16vw;
    background: #0A3871;
    color: #FFFFFF;
    border: none;
}
#dec {
    left: 41.11111111111111vw;
    box-sizing: border-box;
    background: #D8DFE8;
    color: #0A3871;
}
#copy {
    right: calc(2vw + 25px);
    color: #0A3871;
    z-index: 1;
}
#desk_out {
    position: absolute;
    display: flex;
    width: 27.77777777777778vw;
    top: 10px;
    right: 20px;
    bottom: 10px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    align-items: center;
}
#found {
    display: none;
}
#none h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    z-index: 2;
}
#none p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    z-index: 2;
}
.credits {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100vh - 43px);
    text-align: center;
    font-size: small;
}
a {
    text-decoration: none;
} a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) and (orientation: portrait) {
    img[src="classes/logo.svg"] {
        top: 24px;
        left: 16px;
    }
    #none img {
        display: none;
    }
    #txt {
        width: 94vw;
        height: calc(100vh - 100px - 63.5vh);
        top: 100px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .info {
        top: calc(40vh - 25px);
        left: 16px;
    }
    #enc {
        top: 40vh;
        width: 94vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #dec {
        top: calc(40vh + 80px);
        width: 94vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #copy {
        top: calc(40vh + 180px + 25.5vh);
        width: 85vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #out_txt {
        top: calc(40vh + 185px);
        width: 85vw;
        left: 0;
        right: 0;
        bottom: 125px;
        margin-left: auto;
        margin-right: auto;
    }
    #desk_out {
        top: calc(40vh + 160px);
        width: 94vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("none.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}